@import "./_variables";

button {
  font-family: $default-font;
  font-size: $font-size;
  text-transform: uppercase;
  padding: $medium $large;
  border: none;
  border-radius: $small;
  background-color: $accent-color;
  transition: background-color 0.1s linear;
  cursor: pointer;

  &:hover {
    background-color: darken($accent-color, 20%);
    transition: background-color 0.1s linear;
  }
}