// Font
$default-font: 'Roboto', sans-serif;

// Colors
$bg-color: #444444;
$bg-color-light: #777777;
$bg-color-dark: #222222;

$accent-color: #61dafb;

$text-color: #FFFFFF;

// Sizes
$small: 4px;
$medium: 8px;
$large: 16px;
$xlarge: 32px;

$font-size: 14px;
