// Font
$default-font: 'Roboto', sans-serif;

// Colors
$bg-color: #333333;
$bg-color-light: #444444;
$bg-color-dark: #222222;

$accent-color: #61dafb;

$text-color: #FFFFFF;
$text-color-light: #FFFFFF88;

// Sizes
$small: 4px;
$medium: 8px;
$large: 16px;
$xlarge: 32px;

$font-size: 14px;
$font-size-small: 12px;
$font-size-large: 18px;
