<div class="container" [formGroup]="newAircraftForm">
  <div class="mbl font-large bold">Enqueue an Aircraft</div>
  <div class="mbl">
    <label for="size">Aircraft Type</label>
    <select name="type" formControlName="type">
      <option [value]="Type.Passenger" selected>{{Type.Passenger}}</option>
      <option [value]="Type.Cargo">{{Type.Cargo}}</option>
    </select>
  </div>
  <div class="mbl">
    <label for="size">Aircraft Size</label>
    <select name="size" formControlName="size">
      <option [value]="Size.Large" selected>{{Size.Large}}</option>
      <option [value]="Size.Small">{{Size.Small}}</option>
    </select>
  </div>
  <button [disabled]="newAircraftForm.invalid" (click)="onSubmit()">Enqueue</button>
</div>
