@import "../styles/_variables";

.grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 227px auto;
  grid-template-areas:
    "queue form"
    "queue history";
    grid-column-gap: $xlarge;
    grid-row-gap: $xlarge;
  }

  .grid__queue { grid-area: queue; }
  .grid__form { grid-area: form; }
  .grid__history { grid-area: history; }
