@import "../../../styles/_variables";

.launched {
  padding: $large;
  background-color: $bg-color-dark;
  border-radius: $medium;
}

.launched__label {
  font-size: $font-size-large;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: $large;
}

.launched__sizeTag {
  text-transform: uppercase;
  font-size: $font-size-small;
  line-height: $font-size-small;
  padding: $small $medium;
  border-radius: 10px;
  font-weight: 400;

  &.large {
    background-color: #9C27B0;
  }

  &.small {
    background-color: #E91E63;
  }
}